/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  
  --first-color: #fff;
  --second-color: #000;
  


  /*===== Font and typography =====*/
  --body-font1: 'Oswald', sans-serif;
  --body-font2: 'Courgette', cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
@media screen and (min-width: 768px){
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  
  font-family: var(--body-font1);
  font-family: var(--body-font2);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}



h2,h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}

/*===== CLASS CSS =====*/


/*===== LAYOUT =====*/
.logo {
  font-size: var(--h2-font-size);
}

.brand {
  border-bottom: 0.5px solid var(--first-color);
}

.header {
  height: 50vh;
  background:
  linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(19, 18, 18, 0.781) 95.24%, rgba(28, 28, 28, 0.4)),
  url(../img/header.jpg) center center /cover no-repeat;
  color: var(--first-color);
}

.header-title{
  text-align: center;
}

.header-image {
  text-align: center;
}

.header-image img {
  width: 2rem;
}

.g-title {
  font-size: var(--biggest-font-size);
}

.subtitle {
  font-size: var(--h1-font-size);
}

.last-post__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-top: 2.5rem;
}

.article {
  margin: 2rem;
}
.article-title {
  font-size: var(--h2-font-size);
  margin-top: 1rem;
}

.l-aside {
  visibility: hidden;
}

.footer {
  background-color: var(--second-color);
  color: var(--first-color);
  margin-bottom: 0;
}

.footer a {
  color: var(--first-color);
}

.categories {
  padding-top: 2rem;
  margin-left: 1rem;
}

.contact {
  margin-left: 1rem;
}

.recherche {
  height: 2.2rem;
}

.btn {
  height: 2.2rem;
  background-color: var(--second-color);
  color: var(--first-color);
}

.social {
  margin: 2rem 0.5rem;
  padding-bottom: 6rem;
}


.social i {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  padding-top: 0.2rem;
  color: var(--second-color);
  background-color: var(--first-color);
  border-radius: 0.5rem;

}

/*===== Toggle =====*/
.toggle {
	position: relative;
	width: 6rem;
	height: 6rem;
	background-image: url(../img/toggle.png);
	background-repeat: no-repeat;
	background-size: 3rem;
	background-position: center;
	cursor: pointer;
	z-index: 10;
  
}

.toggle.active {
	
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-size: 2.5rem;
	background-position: center;
	cursor: pointer;
}


/*===== NAV =====*/


/* Show menu */


/* Active menu */


/* Change background header */


/*===== SCROLL TOP =====*/


/* Show scroll top */


/*===== HOME =====*/


/*BUTTONS*/


/*===== ABOUT =====*/


/*===== QUALIFICATION =====*/


/*===== SERVICES =====*/


/*===== PROJECT IN MIND =====*/


/*===== PORTFOLIO =====*/


/* Active menu portfolio*/


/*===== TESTIMONIAL =====*/


/*===== CONTACTME =====*/


/*===== FOOTER =====*/


/*===== MEDIA QUERIES =====*/
